<div class="wrapper">
  <header>
    <div class="logo-wrapper">
      <img class="logo-image" src="../../../assets/image/header/header-logo.svg" alt="">
      <p class="logo-text">METRONOME</p>
    </div>
  </header>
  <app-display [beat]="playBeat" (playedBeat)="handlePlayedBeat($event)" class="display">
    <app-run (playBeat)="handlePlayBeat($event)"></app-run>
  </app-display>

  <div id="content" class="content-wrapper">
    <app-tempo-range id="content-tempo" class="range tempo-range"></app-tempo-range>
    <app-beat-range id="content-beat" class="range beat-range"></app-beat-range>
  </div>

  <div class="buttons-wrapper">
    <app-tempo (activeTempo)="handleTempoActive($event)"></app-tempo>
    <app-beat (activeBeat)="handleBeatActive($event)"></app-beat>
    <app-sound></app-sound>
  </div>
</div>
