<div class="wrapper">
  <header>
    <div class="logo-wrapper">
      <img class="logo-image" src="../../../assets/image/header/header-logo.svg" alt="">
      <p class="logo-text">METRONOME</p>
    </div>
  </header>

  <app-voice
          [accent]="ja-JP"
          [text]="speechText"
          [isSpeech]="speechPlay"
          (end)="speechEnd($event)"
  ></app-voice>

  <app-display [mode]="mode" [beat]="playBeat" (playedBeat)="handlePlayedBeat($event)" class="display">
    <app-run (playBeat)="handlePlayBeat($event)"></app-run>
  </app-display>

  <div id="content" class="content-wrapper">
    <app-tempo-range id="content-tempo" class="range tempo-range"></app-tempo-range>
    <app-beat-range id="content-beat" class="range beat-range"></app-beat-range>
    <app-sound-range id="content-sound" class="range sound-range"></app-sound-range>
  </div>

  <div class="buttons-wrapper">
    <app-tempo (activeTempo)="handleTempoActive($event)"></app-tempo>
    <app-beat (activeBeat)="handleBeatActive($event)"></app-beat>
    <app-sound (activeSound)="handleSoundActive($event)"></app-sound>
  </div>
</div>
